{
    margin:0;
    padding:0;
}

div:first-child {
  margin-top: 0px;
}

div {
  cursor: pointer;
  text-align: center;
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 0.9em;
  width: 100px;
  min-height: 30px;
  margin-top: 1px;
  background: #fff;
}

div:hover {
  background: #aaaaaa;
}

ul {
    list-style-type: none;
    padding: 3px;
}

li {
  cursor: pointer;
  text-align: center;
  padding: 3px;
  font-family: sans-serif;
  font-size: 0.9em;
  width: 100px;
  min-height: 30px;
  margin-top: 1px;
}
  .red {
    background-color: red;
  }
  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
  }

